.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/backgroundImage.svg');
  background-size: 100vh 100vw;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.login-container {
  position: relative;
  z-index: 1;
  color: #ffffff;
  background-color: #082521; /* Updated container background color */
  width: 100%; /* Full width or a specific max-width as needed */
  max-width: 420px; /* Maximum width of the form container */
  padding: 1rem; /* Adjust padding as needed */
  border-radius: 3px; /* Optional: if you want rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: if you want a shadow */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  /* align-items: center;  Center children horizontally */
  gap: 8px; /* Gap between form fields */
  /* Additional styles */
  > h1 {
    text-align: center;
  }
}
/* Ensure the form itself has no additional background */
.login-form {
  background-color: transparent;
}

/* Style for individual form fields */
.form-field {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  padding: 8px;
  margin: 8px;
  width: 100%;
  max-width: 362px;
  margin-bottom: 8px; /* Gap between form elements */
  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #007bff;
  }
}

.submit-button {
  width: 100%; /* Full width to match the form fields */
  max-width: 100px;
  background-color: #ffffff; /* Updated button background color */
  color: #08786b; /* Updated button text color */
  border: none; /* Remove border if any */
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 8px;
  // Other styles for the button
}

/* Error message styling */
.error-message {
  width: 100%; /* Align the width of the error message with the field */
  margin-left: 8px;
  margin-right: 8px;
  color: darkorange; /* could also use red color  #ff0000;*/
  font-size: 0.875rem;
  /* Add any additional styles for error messages */
}

.register-prompt {
  width: 100%; /* Match width with the other form elements */
  margin-top: 1rem; /* Space between the submit button and the prompt */
  text-align: right; /* Align the text to the right */
}

.register-link {
  color: darkorange; /* could also use #17b5a2; */
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
